@charset "utf-8";
/* CSS Document */
body{font-family:"Microsoft YaHei";color:#333;font-size:13px;}
a{color:#333;text-decoration:none;}
.clear{clear:both;}
h1 {font-size: 35px;}
h2 { font-size: 29px;}
h3 { font-size: 22px;font-weight:500;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}

#header{width:1000px;height:100px;margin:0 auto}/*头部*/
#header img{float:left;margin-top:15px;}
#navigation{margin:0px 0 0 0px;height:100px;float:right;background-color:#f9f9f9;}
/*#navigation ul{padding-top:55px;}*/
#navigation ul li{float:left; list-style:none;}
#navigation ul li a{ font-size:16px;width:100px;height:50px;padding-top:50px;display:inline-block;/*padding-bottom:5px;border-bottom:2px solid #e0e0e0;*/text-align:center;background-color:#f9f9f9;}
#navigation ul li a:hover{/*padding-bottom:5px;border-bottom:2px solid #F00;*/background-color:#FC0;color:#ffffff;}



  
  #service{}
#service{width:1000px;height:100%;margin:0 auto}  /*service*/
.no_border{border:none !important;}
.tit{padding:30px 0 3px 10px;margin-bottom:12px;border-bottom:1px solid #CCC;}
.tit h3 span{font-size:16px;color:#CCC; font-family:"Times New Roman", Times, serif;padding-left:2px;}
.tit p{text-indent:10px;font-size:14px;height:28px;line-height:28px;}
#service ul li{float:left;margin-right:44px;}

#service ul .no_margin{margin:0px !important;}
#service ul li p{width:304px;display:inline-block;text-align:center;font-size:16px;margin-top:8px;}
#service ul li a{ display:inline-block;padding-bottom:10px;border-bottom:2px solid #e0e0e0;text-align:center;}
#service ul li a:hover{padding-bottom:10px;border-bottom:2px solid #F00;}




#news{width:1000px;height:100%;margin:0 auto;margin-top:20px;}  /*news*/
.cop{width:45%;height:100%;float:left}
#news h4{border-bottom:1px solid #e1e1e1;display:block}
.cop ul li{height:24px;line-height:24px;}
.cop ul li span{float:right}

#show{}
#shower{width:1000px;height:100%;margin: 0 auto;margin-top:20px;}/*case*/
.box{ width:1000px; margin:0 auto; position:relative; overflow:hidden; _height:100%;}/*case*/
.picbox{ width:1000px; height:135px; overflow:hidden; position:relative;}
.piclist{ height:135px;position:absolute; left:0px; top:0px}
.piclist li{ background:#eee; margin-right:20px; padding:5px; float:left;}
.swaplist{ position:absolute; left:-3000px; top:0px}
.og_prev,.og_next{ width:30px; height:50px; background:url(../images/icon/icon_ie6.png) no-repeat; background:url(../images/icon/icon_ie6.png) no-repeat\9; position:absolute; top:33px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
.og_prev{ background-position:0 -60px; left:4px;}
.og_next{ background-position:0 0; right:4px;}

.comp{width:45%;float:right}
.comp img{float:left;display:block;}



#footer{width:100%;height:80px;background-color:#292728;margin-top:40px;}
.contact{width:1000px;margin:0 auto;color:#FFF;padding-top:15px;}

.contact ul li{float:left;margin-left:15px;}